---
import ForgotPasswordSubmit from '@components/auth/ForgotPasswordSubmit';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<a
		href="/auth/signin/"
		class="max-sm:hidden btn btn-lg btn-outline absolute left-5 top-5"
		><span class="icon-[icon-park-outline--return]"></span></a
	>
	<main
		class="p-4 w-full h-full flex flex-col items-center justify-center gap-4"
	>
		<span
			class="icon-[tabler--mood-puzzled] fixed z-[-1] text-neutral text-[80vw] max-w-[200px]"
		></span>
		<h1 class="text-4xl">¿Olvidaste tu contraseña? 😅</h1>
		<small class="text-base text-gray-500"
			>Ingresa tu direccion de correo y te enviaremos un correo para que puedas
			cambiar tu contraseña</small
		>
		<form id="forgotPasswordForm" class="flex flex-col gap-4 w-full max-w-sm">
			<input
				type="email"
				id="email"
				name="email"
				class="input input-bordered"
				placeholder="Correo Electrónico"
				required
			/>
			<ForgotPasswordSubmit client:only="preact" />
		</form>
	</main>
</Layout>

