<h2 class="text-gray-500 text-lg mt-4">¿Aun no has agregado clases?</h2>
<p class="text-gray-500">Agrega tus clases y horarios en la seccion</p>
<a href="/home/dashboard/clases/" class="btn btn-primary">Agregar Clases</a>
