---
import DashboardLayout from '@layouts/DashboardLayout.astro';

const { name } = Astro.params;
---

<DashboardLayout>
	<main slot="content" class="w-full flex flex-col items-center p-8 gap-4">
		<h1 class="text-4xl">{name}</h1>
		<form action="/api/home/delclass/" method="post">
			<input type="hidden" id="name" name="name" value={name} />
			<button type="submit" class="btn btn-error text-lg">
				<span class="icon-[material-symbols--delete]"></span>
				<p>Borrar</p>
			</button>
		</form>
	</main>
</DashboardLayout>
