---
import Clock from '../../components/home/Clock';
import DashboardLayout from '../../layouts/DashboardLayout.astro';

const { user } = Astro.locals;
---

<DashboardLayout>
	<main class="w-full h-full flex flex-col gap-4">
		<header class="p-4 w-full flex justify-between">
			<h1 class="text-2xl">
				Bienvenido <span class="text-primary">{user.displayName}</span>
			</h1>
			<Clock client:only="preact" />
		</header>
	</main>
</DashboardLayout>
