---
import BlockClock from '../../components/home/BlockClock';
import Clock from '../../components/home/Clock';
import GeneralSideBar from '../../components/home/GeneralSideBar.astro';
import NoClassYet from '../../components/home/dashboard/NoClassYet.astro';
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import { getDay } from '../../lib/time';
const date = new Date();
const { user, preferences } = Astro.locals;
---

<DashboardLayout>
	<main slot="content" class="w-full h-full flex flex-col gap-4">
		<header class="p-4 w-full flex justify-between border border-neutral">
			<div>
				<div class="text-3xl flex flex-wrap">
					<h3 class="mr-2">{getDay(date)}</h3>
					<BlockClock client:only="preact" />
				</div>
				<p class="text-lg text-gray-500">{date.toLocaleDateString()}</p>
			</div>
			<Clock client:only="preact" />
		</header>
		<section class="flex flex-col p-4 items-center gap-4">
			<NoClassYet />
		</section>
	</main>
	<GeneralSideBar slot="sidebar" />
</DashboardLayout>
