---
import BlockClock from '@components/home/BlockClock';
import BlockView from '@components/home/BlockView.astro';
import Clock from '@components/home/Clock';
import GeneralSideBar from '@components/home/GeneralSideBar.astro';
import DashboardLayout from '@layouts/DashboardLayout.astro';
import { getClasses, getTodaySchedule } from '@lib/database';
import { todaySchedToBlockMap } from '@lib/format';
import { getDay } from '@lib/time';
const date = new Date();
const { user } = Astro.locals;
const block_mode = true;
const classes = await getClasses(user.uid);
const todaySched = await getTodaySchedule(user.uid, date.getDay());
---

<DashboardLayout>
	<main slot="content" class="w-full h-full flex flex-col gap-4 relative">
		<header
			id="dashboard-header"
			class="p-4 w-full flex justify-between border border-neutral bg-[#0C0F11] fixed z-[1]"
		>
			<div>
				<div class="text-3xl flex flex-wrap">
					<h3 class="mr-2">{getDay(date)}</h3>
					<BlockClock client:only="preact" />
				</div>
				<p class="text-lg text-gray-500">{date.toLocaleDateString()}</p>
			</div>
			<Clock client:only="preact" />
		</header>
		<section
			id="dashboard-section"
			class="flex flex-col gap-4 p-4 items-center mt-[100px] z-0"
		>
			{!classes.length && 
			<h2 class="text-gray-500 text-lg mt-4">¿Aun no has agregado clases?</h2>
			<p class="text-gray-500">Agrega tus clases y horarios en la seccion</p>
			<a href="/home/dashboard/clases/" class="btn btn-primary">Clases</a>
			}
			{
				!!classes.length &&
					(block_mode ? (
						<BlockView schedule={todaySchedToBlockMap(todaySched)} />
					) : (
						<p>TimeMode</p>
					))
			}
		</section>
	</main>
	<GeneralSideBar slot="sidebar" />
</DashboardLayout>

