---
import type { ClassData } from '../../lib/database';

interface Props {
	data: ClassData;
}

const { data } = Astro.props;
---

<div class="collapse bg-base-200">
	<input type="radio" name="my-accordion-1" />
	<div class="collapse-title text-xl font-medium">
		{data.name}
	</div>
	<div class="collapse-content">
		<p>Contenido</p>
	</div>
</div>
