---
import LogoutBtn from '../LogoutBtn.astro';
---

<div class="h-full flex flex-col justify-between">
	<nav class="flex min-w-[240px] flex-col gap-1 p-2 text-base">
		<a
			href="/home/dashboard/clases/"
			role="button"
			class="flex items-center w-full px-4 py-2 transition-all rounded-lg outline-none text-start text-lg bg-[#0a0c0e2c] hover:bg-neutral"
		>
			Clases
		</a>
	</nav>
	<LogoutBtn />
</div>
