<form class="btn btn-error" action="/api/auth/signout/">
	<button type="submit" class="flex items-center gap-2">
		<span class="icon-[material-symbols--logout] text-xl"></span>
		<p class="max-md:hidden">Cerrar sesión</p>
	</button>
</form>
