---
import DashboardLayout from '@layouts/DashboardLayout.astro';
import { getClasses } from '@lib/database';
const { user } = Astro.locals;
const classes = await getClasses(user.uid);
---

<DashboardLayout>
	<main
		slot="content"
		class="w-full h-full flex flex-col gap-4 items-center justify-center"
	>
		<ul class="flex flex-col p-4 gap-2">
			{
				classes.map((clase) => (
					<li class="card bg-base-100 min-w-72 shadow-xl">
						<div class="card-body">
							<h2 class="card-title">{clase.name}</h2>
							<div class="card-actions justify-end">
								<button class="btn btn-primary btn-disabled">Editar</button>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</main>
</DashboardLayout>
