---
import PluginCard from '@components/home/PluginCard.astro';
import DashboardLayout from '@layouts/DashboardLayout.astro';
import { plugins } from '@lib/plugins';

const { user } = Astro.locals;
const installed_plugins = user.plugins;
---

<DashboardLayout hideSidebar>
	<div slot="content" class="flex flex-wrap justify-center gap-4 p-4">
		{
			Object.entries(plugins).map(([key, value]) => {
				return (
					<PluginCard
						id={key}
						plugin={value}
						is_installed={installed_plugins.includes(key)}
					/>
				);
			})
		}
	</div>
</DashboardLayout>
