---
import Layout from '../layouts/Layout.astro';

interface Props {
	frontmatter: {
		title: string;
		last_update: string;
	};
}

const { frontmatter } = Astro.props;
---

<Layout>
	<header
		class="p-4 bg-neutral w-full flex items-center justify-between gap-4 z-10"
	>
		<a href="/" class="text-3xl gap-2 flex items-center w-max">
			<span class="icon-[game-icons--portal] text-primary"></span>
			<h1 class="max-[545px]:hidden w-max">PORTAL now</h1>
		</a>
		<button class="btn btn-disabled"></button>
	</header>
	<div class="flex">
		<aside
			class="relative flex h-[calc(100vh-80px)] w-full max-w-[20rem] flex-col bg-[#191E24] bg-clip-border p-4 shadow-xl"
		>
			<h3 class="block text-xl font-semibold">Documentacion</h3>
			<nav class="flex min-w-[240px] flex-col gap-1 p-2 text-base">
				<a
					href="/docs/001_intro"
					role="button"
					class="flex items-center w-full px-4 py-2 transition-all rounded-lg outline-none text-start hover:bg-neutral"
				>
					Introduccion
				</a>
			</nav>
		</aside>
		<main class="p-8">
			<h1 class="text-4xl mb-4">
				{frontmatter.title}
			</h1>
			<slot />
		</main>
	</div>
</Layout>
